<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title>Gwanho_Kim_Portfolio</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">

  <!-- imports -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main">
    <div class="color-theme">
      <input type="checkbox" id="colorSwitch" name="colorSwitch" class="input__on-off">
      <label for="colorSwitch" class="label__on-off">
        <span class="marble"></span>
        <span class="on">light</span>
        <span class="off">dark</span>
      </label>
    </div>
    <a target="_blank" class="pdf-download">PDF 다운받기</a>
    <div id="content">
      {{ content }}
    </div>
  </div>
</body>
<script>
  const pdfDownloads = document.getElementsByClassName('pdf-download');
  const date = Date.now();
  for (let i = 0; i < pdfDownloads.length; i++) {
    pdfDownloads[i].setAttribute('href', 'https://raw.githubusercontent.com/pikachu987/cv/master/Gwanho_Kim_Portfolio.pdf?t=' + date);
  }

  const colorSwitch = document.getElementById('colorSwitch');
  colorSwitch.addEventListener('change', function(e) {
    if (e.target.checked) {
      document.body.classList.add("dark-theme");
    } else {
      document.body.classList.remove("dark-theme");
    }
  });

  const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
  if (prefersDarkScheme.matches) {
    colorSwitch.setAttribute('checked', true);
      document.body.classList.add("dark-theme");
  } else {
    colorSwitch.setAttribute('checked', false);
      document.body.classList.remove("dark-theme");
  }
</script>
</html>
