<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> Dongsam Byun's CV</title>
  <link href="media/cv-screen.css" type="text/css" rel="stylesheet" media="screen">
  <link href="media/cv-print.css" type="text/css" rel="stylesheet" media="print">

  <!-- imports -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main">
    <div id="content">
      {{ content }}
    </div>
  </div>

  <div class="footer"></div>

</body>
<script>
  var links = document.links;
  for (var i = 0, linksLength = links.length; i < linksLength; i++) {
   if (links[i].hostname != window.location.hostname) {
    links[i].target = '_blank';
  } 
  if (links[i].text == '[youtube]'){
    links[i].innerHTML = '<i class="fa fa-youtube"></i>';
  }else if(links[i].text == '[gist]' || links[i].text == '[github]'){
    links[i].innerHTML = '<i class="fa fa-github"></i>';
  }
}
</script>
</html>